<%- include('../includes/header') %>
    <!-- product section -->
    <section class="product_section layout_padding">
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img id="image" class="card-img-top" src=<%=user.avatar ?
                            `/uploads/${user.avatar}`: "https://static.thenounproject.com/png/4974686-200.png" %> alt=
                        <%=user.avatar%>/>
                            <div class="card-body">
                                <a class="btn btn-primary" id="button-change-image" style="color: white;">Change
                                    avatar</a>
                            </div>
                    </div>
                </div>
                <div class="col-8">
                    <p style="font-size: 2rem;">Full Name: <span>
                            <%= user.fullName%>
                        </span></p>
                    <p style="font-size: 1.2rem;">Email : <span>
                            <%= user.email%>
                        </span></p>
                    <p style="font-size: 1.2rem;">Mobile : <span>
                            <%= user.phone%>
                        </span></p>
                    <p style="font-size: 1.2rem;">Role : <span>
                            <i>
                                <%= user.role%>
                            </i>
                        </span></p>
                </div>
            </div>
            <div id="form-change-avatar" style="display: none;">
                <br>
                <hr>
                <br>
                <form action="/upload-avatar" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="image">Form change avatar</label>
                        <input type="file" value="" name="image" class="form-control" id="inputImage"
                            placeholder="---Image---" accept="image/*">
                        <button type="button" id="remove" class="btn btn-danger mt-2"
                            style="display: none;">Remove</button>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" id="btn">change</button>
                </form>
            </div>
        </div>
    </section>
    <script>
        const btnChangeImage = document.getElementById('button-change-image');
        const fileInput = document.getElementById('inputImage');

        const image = document.getElementById('image');
        const remove = document.getElementById('remove');
        const formChangeAvatar = document.getElementById('form-change-avatar');

        let isChange = false;
        function showFormChangeAvartar(value) {
            formChangeAvatar.style.display = value ? 'block' : 'none';
            btnChangeImage.innerText = value ? 'Unchange avatar' : 'Change avatar';
        }

        btnChangeImage.addEventListener('click', (e) => {
            isChange = !isChange;
            showFormChangeAvartar(isChange);
        });

        fileInput.addEventListener("change", function (e) {
            const selectedFile = fileInput.files[0];
            console.log('hihi', selectedFile);
            if (selectedFile) {
                const reader = new FileReader();
                // Đọc tệp hình ảnh và gán nó vào nguồn của thẻ img
                reader.onload = function (e) {
                    image.src = e.target.result;
                };
                reader.readAsDataURL(selectedFile);
                remove.style.display = 'block';
            } else {
                fileInput.value = null;
                image.src = "<%= (user.avatar ? `/uploads/${user.avatar}`: 'https://static.thenounproject.com/png/4974686-200.png')%>"
            }
        });

        remove.addEventListener('click', () => {
            fileInput.value = null;
            image.src = "<%= (user.avatar ? `/uploads/${user.avatar}`: 'https://static.thenounproject.com/png/4974686-200.png')%>";
            remove.style.display = 'none';
        });
    </script>
    <%- include('../includes/footer') %>